- @subnav_content = [\
- {"path" => "components/info", "name" => "Map Info Section"},\
- "Game Settings",\
- {"path" => "components/teams", "name" => "Teams"},\
- {"path" => "components/spawns", "name" => "Spawns"},\
- {"path" => "components/loadout", "name" => "Loadouts"},\
- {"path" => "components/holograms", "name" => "Holograms"},\
- "Game Types",\
- {"path" => "components/nebula", "name" => "Nebula"},\
- {"path" => "components/cth", "name" => "Control the Hill"},\
- {"path" => "components/walls", "name" => "The Walls"},\
- {"path" => "components/nexus", "name" => "Nexus"},\
- {"path" => "components/avicade", "name" => "Avicade"},\
- {"path" => "components/elim", "name" => "Elimination},\
- {"path" => "components/sg", "name" => "Survival Games"},\
- "Other",\
- {"path" => "components/regions", "name" => "Regions"},\
- {"path" => "components/drops", "name" => "Item Drops"},\
- ]

= render("partials/sidebar")
