- @subnav_content = [\
- {"path" => "components/info", "name" => "Map Info Section"},\
- "Game Settings",\
- {"path" => "components/teams", "name" => "Teams"},\
- {"path" => "components/spawns", "name" => "Spawns"},\
- {"path" => "components/loadout", "name" => "Loadouts"},\
- "Game Types",\
- {"path" => "components/nebula", "name" => "Nebula"},\
- {"path" => "components/cth", "name" => "Control the Hill"},\
- {"path" => "components/walls", "name" => "The Walls"},\
- {"path" => "components/avicade", "name" => "Avicade"},\
- "Other",\
- {"path" => "components/regions", "name" => "Regions"},\
- {"path" => "components/messages", "name" => "Messages"},\
- ]
= render("partials/sidebar")
