.jumbotron.subhead
    %h1 Components
    %p This page contains all the components necessary when building a YAML.

.row
    = render('components_sidebar')

    .col-md-9
        .page-header
            %h3 This page is under construction.

        .page-header#archive
            %h4 Archive
            %p
                The staff team is currently working on revamping this gamemode. Post suggestions on the "Server Feedback" section so your voice can be heard!