.jumbotron.subhead
    %h1 Components
    %p This page contains all the components necessary when building a YAML.

.row
    = render('components_sidebar')

    .col-md-9
        .page-header
            %h3 Avicade

        .page-header#red_alert
            %h4 1. Red Alert
            %p
                The Red Alert game mode selects spawn points in a circle around a center point. Define the
                %code radius
                and
                %code center
                variables like so:

            :markdown
                    radius: r
                    center: x,y,z
        
        .page-header#gs
            %h4 2. Ghost Squadron
            %p This game mode requires no additions to the default Avicus YAML.

        .page-header#oitc
            %h4 3. One in the Chamber
            %p This game mode requires no additions to the default Avicus YAML.

        .page-header#hardcore_oitc
            %h4 4. Hardcore One in the Chamber
            %p This game mode requires no additions to the default Avicus YAML.

        .page-header#snake
            %h4 5. Snake
            %p
                The Snake game mode selects spawn points in a circle around a center point. Define the
                %code radius
                and
                %code center
                variables like so:

            :markdown
                    radius: r
                    center: x,y,z

        .page-header#minotaur
            %h4 6. Minotaur
            %p
                Minotaur requires specific teams.

            :markdown
                    teams:
                      red:
                        title: Minotaur
                        max: 0
                        spawn: x,y,z,yaw,pitch # spawn for the minotaur
                      lime:
                        title: Players
                        max: 15
                        spawn: x,y,z,yaw,pitch # spawn for the players

            %p You must also define the region in which the players must reach in order to win.

            :markdown
                    regions:
                      region-name:
                        ... # refer to regions components page
                    goal: region-name