.jumbotron.subhead
    %h1 Components
    %p This page contains all the components necessary when building a YAML.

.row
    = render('components_sidebar')

    .col-md-9
        .page-header
            %h3 Nebula
            
        .page-header#dtm
            %h4 1. Destroy the Monument
            %p This game mode requires that addition of monument names and locations to the YAML.

            %p Monuments must be formatted under each team's configuration section. Teams must destroy the monuments that are listed in their team's configuration section.

            :markdown

                    teams:
                      lime:
                        spawn: 30.5,48,-854.5,0,0
                        title: Lime Team
                        monuments: # these monuments must be destroyed by lime
                          a: # the id of the monument must be unique from one another
                            name: Flag Tower
                            location: 20,70,-569 # the coordinate of the obsidian block
                          b:
                            name: Watch Tower
                            location: 36,65,-561
                          c:
                            name: Bell Tower
                            location: 43,57,-582
                      red:
                        spawn: 33.5,48,-561.5,180,0
                        title: Red Team
                        monuments: # these monuments must be destroyed by red
                          a:
                            name: Flag Tower
                            location: 42,70,-849
                          b:
                            name: Watch Tower
                            location: 26,65,-857
                          c:
                            name: Bell Tower
                            location: 19,57,-836

        .page-header#tdm
            %h4 2. Team Deathmatch
            %p 
                You must set a
                %code duration
                \. You can optionally set a max score to be reached with
                %code max
                as well. The winner is the team that reaches the max objective or has the most points at the end of the duration.
                
            :markdown
                    duration: 10m
                    max: 250

         .page-header#ctw
            %h4 3. Capture the Wool
            %p This game mode requires that addition of wool monuments, wool titles, and wool chests in the YAML.

            %p Wools must be formatted under the wools configuration, collapsed under the teams section. Teams must capture the wools and bring them back to their base to win.

            :markdown

                    teams:
                      yellow:
                        spawn: 232.5,107,-53.5,90,0
                        title: Yellow Team
                        max: 20
                        wools: # wools in the map are defined in this section
                          cyan: # yellow must capture this wool (on pink side)
                            name: Cyan Wool # the title of your wool to appear in-game
                            chest: 49,114,-107 # the coordinate location of the wool chest. this auto regenerates.
                            monument: 236,108,-55 # where the wool is to be placed to win (on yellow side)
                          blue: # yellow must capture this wool (on pink side)
                            name: Blue Wool
                            chest: 49,114,-1
                            monument: 236,108,-53 # where the wool is to be placed to win (on yellow side)
                     pink:
                       spawn: 7.5,107,-53.5,-90,0
                       title: Pink Team
                       max: 20
                       wools:
                         lime: # pink must capture this wool (on yellow side)
                           name: Lime Wool
                           chest: 190,114,-1
                           monument: 3,108,-53 # where the wool is to be placed to win (on pink side)
                         green: # pink must capture this wool (on yellow side)
                           name: Green Wool
                           chest: 190,114,-107 
                           monument: 3,108,-55 # where the wool is to be placed to win (on yellow side)