.jumbotron.subhead
    %h1 Components
    %p This page contains all the components necessary when building a YAML.

.row
    = render('components_sidebar')

    .col-md-9
        .page-header
            %h3 Spawns
        %p Rather than just having a single location for a spawn, you can have multiple or even set regions as a spawn point.
        %br
