.jumbotron.subhead
    %h1 Components
    %p This page contains all the components necessary when building a YAML.

.row
    = render('components_sidebar')

    .col-md-9
        .page-header
            %h3 The Walls
            
        .page-header#walls
            %h4 1. Void-Building
            %p This game mode requires minor additions to the general YAML to include the 2 X and Y walls and to prevent void building.

            %p In the Walls, your goal is to kill all of the enemies after 10 minutes of preperation. First, you stop people from building in the void using the
            %code void-build: false
            \. This stops the players from trying to exit the map boundaries and being able to go to places they aren't supposed to.

            :markdown

                    info:
                       title: The Walls # The name of your map.
                       world: Walls1 # The world that it is located in.
                        version: 1.0 # The map version, generally 1.0 when you first create it.
                        type: walls # When making a walls map, always keep it was "walls".
                        creators:
                        - Hypixel #These are who helped make the map.
                        spawn: -793,110,-172,0,0 #This is where players who join the match or die will spawn.

                        void-build: false #This is to prevent players to leaving the map boundaries.

        .page-header#prep
            %h4 2. Preperation Times
            %p 
                This is used to tell how long players have to prepare before the walls drop. Use the
                %code prep:
                \module to make it tell when the walls will drop. The general time is 10 minutes, so it'd show up as;
                
            :markdown
                    prep: 10m
                
        .page-header#wallregions
            %h4 3. Wall Regions
            %p Here, you add where it detects the walls listed under the
            %code regions:
            \section. These are the sand-and-gravel designed once that you see drop. To have them detect, just list the region names. It should be x-wall and z-wall.

            :markdown

                  wall-regions:
                  - x-wall
                  - z-wall
        
        .page-header#teamregions
            %h4 4. Team Regions
            %p Add the teams that are in the match, using
            %code team-regions:
            \.There should be 4 teams chosen from the reference page. Just put down their names like so, for instance this:
            
            :markdown

                  team-regions:
                  - red-team
                  - blue-team
                  - yellow-team
                  - green-team
                  
        .page-header#arenaregion
            %h4 5. Arena Region
            %p Add the arena-region. There is typically 1. It should be used as so:
            %code arena-regions:
            \Under that, name the region "arena".
            
            :markdown

                  arena-regions:
                  - arena
            
        .page-header#regions
            %h4 6. General Region
            %p After all the others, you can place the regions here for the team sides. Put a regions tag there.
            %code regions:
            \After that, you can edit the following just like the normal regions you see on other examples.
            
            :markdown
            
            
                 regions:
                   arena:
                     type: global
                     flags:
                         build:
                            priority: 0
                             who: '*'
                   red-team:
                     type: cuboid
                     min: -783,0,-162
                     max: -725,256,-104
                     flags:
                        leave:
                          who: 'red'
                        build:
                          priority: 5
                         allow: true
                         who: 'red'
            
            
        %p You can now copy the other over and make the team names, colors, and spawns like the others.
            
