.col-sm-3
    .sidebar.hidden-xs
        %ul.nav.nav-pills.nav-stacked
            - @subnav_content.each do |item|
                - if item.kind_of?(Hash)
                    %li{:class => request.env['PATH_INFO'].include?(item['path']) ? "active" : ""}
                        %a{:href => "/#{item['path']}"} #{item['name']}
                - elsif item.kind_of?(String)
                    %li
                        %h4 #{item}