- @subnav_content = [\
- {"path" => "references/teams", "name" => "Team Colors"},\
- {"path" => "references/enchantments", "name" => "Enchantments"},\
- {"path" => "references/effects", "name" => "Potion Effects"},\
- {"path" => "references/inventory", "name" => "Inventory"},\
- {"path" => "references/regions", "name" => "Region Types"},\
- {"path" => "references/flags", "name" => "Flags"},\
- {"path" => "references/triggers", "name" => "Triggers"},\
- ]

= render("partials/sidebar")