.jumbotron.subhead
    %h1 References
    %p Your Avicus YAML cheat sheet!

.row
    = render('references_sidebar')
    .col-md-9
    
        .page-header
            %h3 Potion Effects
            %p Use the names listed here when giving a potion effect to an entity, typically used in a loadout.
        %table.table.table-bordered.table-striped.table-condensed
            %tr
                %th Name
                %th Effect
            %tr
                %td
                    %code ABSORPTION
                %td Increases the maximum non-regenerable health of an entity, but is refilled every 30 seconds.
            %tr
                %td
                    %code BLINDNESS
                %td Blinds an entity
            %tr
                %td
                    %code CONFUSION
                %td  Warps vision on the client.
            %tr
                %td
                    %code DAMAGE_RESISTANCE
                %td Decreases damage dealt to an entity
            %tr
                %td
                    %code FAST_DIGGING
                %td Increases dig speed
            %tr
                %td
                    %code FIRE_RESISTANCE
                %td Stops fire damage
            %tr
                %td
                    %code HARM
                %td Hurts an entity
            %tr
                %td
                    %code HEAL
                %td Heals an entity
            %tr
                %td
                    %code HEALTH_BOOST
                %td Increases the maximum health of an entity
            %tr
                %td
                    %code HUNGER
                %td Increases hunger
            %tr
                %td
                    %code INCREASE_DAMAGE
                %td Increases damage dealt
            %tr
                %td
                    %code INVISIBILITY
                %td Grants invisibility
            %tr
                %td
                    %code JUMP
                %td Increase jump height
            %tr
                %td
                    %code NIGHT_VISION
                %td Allows an entity to see in the dark
            %tr
                %td
                    %code POISON
                %td Deals damage to an entity over time
            %tr
                %td
                    %code REGENERATION
                %td Regenerates health
            %tr
                %td
                    %code SATURATION
                %td Increase food level of an entity each tick.
            %tr
                %td
                    %code SLOW
                %td Decreases movement speed
            %tr
                %td
                    %code SLOW_DIGGING
                %td Decreases dig speed
            %tr
                %td
                    %code SPEED
                %td Increases movement speed
            %tr
                %td
                    %code WATER_BREATHING
                %td Allows breathing underwater
            %tr
                %td
                    %code WEAKNESS
                %td Decreases damage dealt by entity
            %tr
                %td
                    %code WITHER
                %td Deals damage to an entity over time and gives the health to the shooter.