.jumbotron.subhead
    %h1 References
    %p Your Avicus YAML cheat sheet!

.row
    = render('references_sidebar')
    .col-md-9
        .page-header
            %h3 Enchantments
            %p Use the names listed here when applying an enchantment to an item.
        %table.table.table-bordered.table-striped.table-condensed
            %tr
                %th Name
                %th Effect
            %tr
                %td
                    %code ARROW_DAMAGE
                %td Applied to bows to provide extra damage.
            %tr
                %td
                    %code ARROW_FIRE
                %td Sets entities on fire when shot.
            %tr
                %td
                    %code ARROW_INFINITE
                %td Provides infinite arrows when shotting with a box
            %tr
                %td
                    %code ARROW_KNOCKBACK
                %td Provides a knockback when an entity is hit by an arrow from a bow
            %tr
                %td
                    %code DAMAGE_ALL
                %td Called Sharpness in Minecraft, this applies inreased damage on any item.
            %tr
                %td
                    %code DAMAGE_ANTHROPODS
                %td Increases damage against all anthropod targets.
            %tr
                %td
                    %code DAMAGE_UNDEAD
                %td Increases damage against undead targets
            %tr
                %td
                    %code DIG_SPEED
                %td Increases the rate at which you mine/dig
            %tr
                %td
                    %code DURABILITY
                %td Decreases the rate at which a tool looses durability
            %tr
                %td
                    %code FIRE_ASPECT
                %td When attacking a target, has a chance to set them on fire
            %tr
                %td
                    %code KNOCKBACK
                %td All damage to other targets will knock them back when hit
            %tr
                %td
                    %code LOOT_BONUS_BLOCKS
                %td Provides a chance of gaining extra loot when destroying blocks
            %tr
                %td
                    %code LOOT_BONUS_MOBS
                %td Provides a chance of gaining extra loot when killing monsters
            %tr
                %td
                    %code OXYGEN
                %td Decreases the rate of air loss whilst underwater
            %tr
                %td
                    %code PROTECTION_ENVIRONMENTAL
                %td Provides protection against environmental damage
            %tr
                %td
                    %code PROTECTION_EXPLOSIONS
                %td Provides protection against explosive damage
            %tr
                %td
                    %code PROTECTION_FALL
                %td Provides protection against fall damage
            %tr
                %td
                    %code PROTECTION_FIRE
                %td Provides protection against fire damage
            %tr
                %td
                    %code PROTECTION_PROJECTILE 
                %td Provides protection against projectile damage
            %tr
                %td
                    %code SILK_TOUCH
                %td Allows specific blocks to drop themselves instead of their typical drops
            %tr
                %td
                    %code THORNS
                %td Damages the attacker
            %tr
                %td
                    %code WATER_WORKER 
                %td Increases the speed at which a player may mine underwater