.jumbotron.subhead
    %h1 References
    %p Your Avicus YAML cheat sheet!

.row
    = render('references_sidebar')
    .col-md-9
        .page-header
            %h3 Inventory
        
        %p Refer to this picture when determining the slot number of a location a player's inventory.
        
        %p       
            = image_tag "inventory.png"
        %p
            Image Source: 
            %a{:href => "http://minecraft.gamepedia.com/Player.dat_format"} Minecraft Gamepedia
        %p
            %b Lime = Armor slots. Are used to determine what the player wears.

            %b Blue = Main slots. Main utilities belong in the blue slot area.

            %b Yellow = Misc slots. Can place anything you wish that's not vital in the main slots.
        %br
        .page-header
            %h3 Item Names
        %p
            A list of item names can be found here: 
            %a{:href => "https://github.com/Bukkit/Bukkit/blob/master/src/main/java/org/bukkit/Material.java"} github.com
            \. Using spaces, rather than using underscores, is encouraged for readability.