.jumbotron.subhead
    %h1 References
    %p Your Avicus YAML cheat sheet!

.row
    = render('references_sidebar')
    .col-md-9
        .page-header
            %h3 Team Colors
            %p A list of possible colors to use when defining teams.

        %table.table.table-bordered.table-striped.table-condensed{:style => "width: 100px"}
            %tr
                %th Name
            %tr
                %td
                    %code RED
            %tr
                %td
                    %code LIGHT_RED
            %tr
                %td
                    %code BLUE
            %tr
                %td
                    %code GREEN
            %tr
                %td
                    %code LIME
            %tr
                %td
                    %code YELLOW
            %tr
                %td
                    %code ORANGE
            %tr
                %td
                    %code PURPLE
            %tr
                %td
                    %code PINK
            %tr
                %td
                    %code GRAY
            %tr
                %td
                    %code LIGHT_GRAY