.jumbotron.subhead
    %h1 References
    %p Your Avicus YAML cheat sheet!

.row
    = render('references_sidebar')
    .col-md-9
        .page-header
            %h3 Team Colors
            %p A list of possible colors to use when defining teams.

        %table.table.table-bordered.table-striped.table-condensed{:style => "width: 100px"}
    .col-md-8
                = image_tag "http://docs.avicus.net/assets/color.png", :width => 100, :class => "center"